* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* CABEÇALHO */


nav {
    background-color: #DAE5E8;
    color: black;
    width: 100%;
    height: 5%; 
}

.menu{
    line-height: 100px;
    display: flex;
    justify-content: space-around;
  }
  .menu a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
  }
  .menu a:hover{
    color: #3498db;
  }

  /* CABEÇALHO */

  /* QUEM SOMOS */

.quem-somos{
    background: url(./img/4comfort.png) no-repeat left;
    background-size: 50%;
    overflow: hidden;
    padding: 100px 0;
    margin-top: 2%;
    margin-bottom: 2%;
}

.quem-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
    font-size: large;
}

.quem-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.texto{
    font-size: 25px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.Diferenciais{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 15px;
}

/* QUEM SOMOS */

/* PRODUTOS  */

#nossosprodutos{
    background-color:#83969C;
    display: grid;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    justify-items: center;
    text-align: center;
    background-color:#8DA0B3;
    padding-bottom: 1vh;
    margin-bottom: 2vh;
    margin-top: 2vh;


}

.container img{
    width: 50%;
    height: 30%;
    border-radius: 8px;

}


.nomenossosprodutos{
    margin-top: 5%;
    grid-column: span 3;
    text-align: center;
    color: #DAE5E8;
    font-size: xx-large;
}

/* PRODUTOS */

/* EQUIPE */

#nossaEquipe {
    font-size: large;
    display: grid;
    background-color: #83969C;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
    color: #DAE5E8;
    height: 100vh;
}

.nomeEquipe {
    grid-column: span 3;
    align-self: center;
    text-align: center;
    font-size: xx-large;
}
#nossaEquipe img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #fff;
}

/* EQUIPE  */

/* CONTATO  */

.informação {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.informação .imgitem {
    width: 30%;
    height: 160px;
    background-color: #353b48;;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.informação img {
    display: block;
    font-size: 40px;
    line-height: 120px;
    height: 100px;
}

.formulario {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.formulario input {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    background-color: #353b48;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

#contato {
    height: 70vh;
    margin-top: 5%;
}

.contato1 {
    display: flex;
    justify-content: center;
    font-size: larger;
}

.nomearea, .emailarea {
    max-width: 40%;
}

.assunto {
    max-width: 87%;
}

.mensagemarea {
    min-height: 200px;
    resize: vertical;
    max-width: 91%;
}

.formulario .enviar {
    display: block;
    width: 180px;
    font-size: 16px;
    padding: 0;
    margin: auto;
}

/* CONTATO  */

/* RODAPÉ */

footer{
    display: flex;
    width: 100%;
    height: 20vh;
    bottom: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #436069;
    background-color: #DAE5E8;
}

.linkfooter{
    margin: 1vw;
    height: 50px;
}

.botaoFixo {
    position: fixed;
    bottom: 10%;
    background-color:white;
    width: 130px;
    height: 50px;
    border-radius: 5px;
}

.botaoFixo p {
    text-transform: uppercase;
    color: black;
    font-weight: 800;
    margin-top: 5%;
    margin-left: 5%;     
}

.botaoFixo a {
    text-decoration: none;
}

.botaoFixo a:hover{
    color:#3498db;
}

/* RODAPÉ */

/* RESPONSIVIDADE */

@media screen and (min-width: 375px) and (max-width: 667px) {

    body {
        height: 100%;
        width: 100%;
    }

    nav{
        width: 100% ;
        height: 80px;
        font-size: 9px;
        display: flex;
        justify-content: center;
    }

    .quem-container {
        padding: 50px;
        width: 100%;
    }

    .quem-somos {
        padding: 0;
    } 

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    #nossaEquipe {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "nomeEquipe"
        "imgBruno"
        "nomeBruno"
        "imgJose"
        "nomeJose"
        "imgIgor"
        "nomeIgor";
    }

    .nomenossosprodutos {
        grid-column: span 1;
    }

    .nomeEquipe {
        grid-column: span 1;
        grid-area: auto;
    }
    .imgBruno {
        grid-area: imgBruno;
    }
    .nomeBruno {
        grid-area: nomeBruno;
    }
    .imgJose {
        grid-area: imgJose;
    }
    .nomeJose {
        grid-area: nomeJose;
    }
    .imgIgor {
        grid-area: imgIgor;
    }
    .nomeIgor {
        grid-area: nomeIgor;
    }

    #nossaEquipe img {
        width: 70px;
        height: 70px;
    }


    .botaoFixo {
        display: none;
    }   
}

@media screen and (min-width:1280px){
    .quem-container{
        padding: 80px;
    }
}

/* RESPONSIVIDADE */